.register-form {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #f0f8ff;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.register-form .form-group {
    margin-bottom: 15px;
}

.register-form .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.register-form .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.register-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.register-form button:hover {
    background-color: #218838;
}
.error-message {
    color: red;
    margin-top: 10px;
}

